
h1{
  background-color: red;
  text-align: center;
}

.list-group{
  padding: 5px 5px 5px 5px;
  margin: 10px;
}
.btn-info{
  float: right;
}

.inputfood{
  margin: 15px;
  min-width: 90%;
}
p{
  margin: 12px;
}



